 <!-- Vision Row -->
<div class="row">
    <div class="col-md-4" style="background-color:#5DC9E5">
    	<h2>VISION 願景</h2>    
    	<ul>	    	
	    	<li>和顧客保持長期良好的關係</li>
            <li>提供超越期待的服務品質以及價格合理但品質優異的產品</li>
    	</ul>
    </div>
    <div class="col-md-4" style="background-color:#75B666">
        <h2>MISSION 理念</h2>
        <ul>	        
	        <li>以公司既有的技術優勢，致力於開發及生產多款新穎的汽機車改裝精品，秉持著專業、技術、品質三大經營理念，將台灣精品推向極致</li>
        </ul>
    </div>
    <div class="col-md-4" style="background-color:#EDCB47">
    	<h2>VALUE 創業精神</h2>
    	<ul>	    	
	    	<li>未來有一天，相信UOP會成為汽機車改裝精品界中一顆最閃亮的星星，我們永遠都會努力向更高的目標挑戰</li>
    	</ul>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <img class="img-responsive img-rounded" src="./styles/image/uop-about-us.jpg" alt="" style="float:right;margin:15px 0px 15px 15px;">
    	<h2><img class="img-responsive img-rounded" src="./styles/image/m03-y.png" alt="UOP MOTORS LOGO"><!--Company Profile--></h2>        
        <p><font style="color:red; font-weight:bold;">UOP</font>是一家從商品開發設計到塑膠射出成型，等步驟垂直整合一貫化的公司。<font style="color:red; font-weight:bold;">UOP</font>技術團隊，擁有專業豐富的模具開發及射出成型經驗，運用高科技精密機器設備(德國 Deckel Maho 五軸高速綜合加工機)，為客戶提供最優質的服務及最高品質的產品。<br/>
        近年來<font style="color:red; font-weight:bold;">UOP</font>更致力於朝向汽機車改裝精品發展，以公司既有的技術優勢，開發及生產多款新穎的改裝精品，並接受國內外經銷代理商ODM、OEM委託開發及商品製作。<font style="color:red; font-weight:bold;">UOP</font>可以針對國內外客戶的需求生產商品並提供特殊精密加工服務，未來<font style="color:red; font-weight:bold;">UOP</font>將秉持著專業、技術、品質三大經營理念，將台灣精品推向極致。
 </p>
    </div>
    <!-- /.col-lg-12 -->
</div>
<br>