 <!-- Vision Row -->
<div class="row">
    <div class="col-md-4" style="background-color:#5DC9E5">
    	<h2>VISION</h2>
    	<ul>
	    	<li>What we want to be.</li>
	    	<li>To build long term relationships with our customers.</li>
            <li>To provide exceptional services and excellent quality products with reasonable prices.</li>
    	</ul>
    </div>
    <div class="col-md-4" style="background-color:#75B666">
        <h2>MISSION</h2>
        <ul>
	        <li>Why we exist.</li>
	        <li>To integrate technology, professional and quality into all aspects of our business functioning. With this spirit, we will grow through creativity and invention eventually.</li>
        </ul>
    </div>
    <div class="col-md-4" style="background-color:#EDCB47">
    	<h2>VALUE</h2>
    	<ul>
	    	<li>What's important to us.</li>
	    	<li>Let UOP become a twinkling star in the field of parts & accessories market of motors.</li>
            <br/><br/>
    	</ul>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <img class="img-responsive img-rounded" src="./styles/image/uop-about-us.jpg" alt="" style="float:right;margin:15px 0px 15px 15px;">
    	<h2><img class="img-responsive img-rounded" src="./styles/image/m03-y.png" alt="UOP MOTORS LOGO"><!--Company Profile--></h2>
        <p><font style="color:red; font-weight:bold;">UOP</font> is a professional plastic injection molding, and manufacturing company. We have vertical integration competance to design plastic products from mold(mould) making to injection molding (moulding). Our expert tooling engineers, injection molding engineers and first-class equipments (Deckel Maho 5 axis universal machining centers) allow us to deliver molds(moulds) and products quickly and accurately to Global clientele.<br/>
In recent years, <font style="color:red; font-weight:bold;">UOP</font> strived to develop parts and accessories for motorcycle and autos. We have provided many innovative and high quality products that meet market demands and trends. <font style="color:red; font-weight:bold;">UOP</font> is a manufacturer, supplier, and exporter in Taiwan.

 </p>
    </div>
    <!-- /.col-lg-12 -->
</div>
<br>