<!-- Heading Row  style="border-width:medium; border-style:dashed;"-->
<div class="row hidden-md hidden-lg hidden-sm">
    <div class="row">
        <div class="col-xs-12">
            <img class="img-responsive img-rounded center-block" src="./styles/image/2016Christmas/2016Christmas-1.jpg">
        </div>      
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-3">
        <a target="_blank" href="http://goods.ruten.com.tw/item/show?21512677066250">
        <img class="img-responsive img-rounded" src="./styles/image/2016Christmas/BWS125 bwsx Headlight Cover With LED Pilot Light 美規小盾牌LED燈.jpg"></a>
        </div>
        <div class="col-xs-3">
        <a target="_blank" href="http://goods.ruten.com.tw/item/show?21626004554678">
        <img class="img-responsive img-rounded" src="./styles/image/2016Christmas/JET POWER (EVO) GR Z1 Fan Cover COB Halo Light  風扇蓋光圈 .jpg"></a>
        </div>
        <div class="col-xs-3">
        <a target="_blank" href="http://goods.ruten.com.tw/item/show?21644242659982">
        <img class="img-responsive img-rounded" src="./styles/image/2016Christmas/VJR MANY Fan Cover COB Halo Light 透明風扇蓋+COB光圈.jpg">
        </div>
        <div class="col-xs-3">
         <a target="_blank" href="http://goods.ruten.com.tw/item/show?21502238457582">
        <img class="img-responsive img-rounded" src="./styles/image/2016Christmas/SMAX FORCE Transmission Cover 傳動蓋組 透明傳動濾心總成.jpg">
        </div>        
    </div>
    <br/>
    <div class="row" style="text-align: center">
        <div class="col-xs-12">
            <a class="btn btn-danger" target="_blank" href="http://class.ruten.com.tw/user/index00.php?s=oddoby2009&_plid=584fb09d888f7" role="button"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>快去露天搶優惠&nbsp;&nbsp;&nbsp;&nbsp;</a><br/><br/>
        <a class="btn btn-danger" target="_blank" href="https://shopee.tw/uopmotors?tab=product" role="button"><span class="glyphicon glyphicon-hand-right" aria-hidden="true">蝦皮也有優惠喔！</a>
        </div>
    </div>
</div>
<div class="row hidden-xs">
    <div class="col-md-10">
        <img class="img-responsive img-rounded center-block" src="./styles/image/2016Christmas/2016Christmas-1.jpg">
        <!--
        image slide, mark at christmas promotion
        <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
              <img class="img-responsive img-rounded " ng-src="{{slide.image}}" alt="" width="90%">
            </uib-slide>
        </uib-carousel>             
        -->
    </div>
    <div class="col-md-2">
        <a class="btn btn-danger" target="_blank" href="http://class.ruten.com.tw/user/index00.php?s=oddoby2009&_plid=584fb09d888f7" role="button"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>快去露天搶優惠&nbsp;&nbsp;&nbsp;&nbsp;</a><br/><br/>
        <a class="btn btn-danger" target="_blank" href="https://shopee.tw/uopmotors?tab=product" role="button"><span class="glyphicon glyphicon-hand-right" aria-hidden="true">蝦皮也有優惠喔！</a>
        <br/>
        <br/>
        <a target="_blank" href="http://goods.ruten.com.tw/item/show?21512677066250">
        <img class="img-responsive img-rounded" src="./styles/image/2016Christmas/BWS125 bwsx Headlight Cover With LED Pilot Light 美規小盾牌LED燈.jpg"></a>
        <br/>
        <a target="_blank" href="http://goods.ruten.com.tw/item/show?21626004554678">
        <img class="img-responsive img-rounded" src="./styles/image/2016Christmas/JET POWER (EVO) GR Z1 Fan Cover COB Halo Light  風扇蓋光圈 .jpg"></a>
        <br/>
        <a target="_blank" href="http://goods.ruten.com.tw/item/show?21644242659982">
        <img class="img-responsive img-rounded" src="./styles/image/2016Christmas/VJR MANY Fan Cover COB Halo Light 透明風扇蓋+COB光圈.jpg">
        </a>
        <br/>
        <a target="_blank" href="http://goods.ruten.com.tw/item/show?21502238457582">
        <img class="img-responsive img-rounded" src="./styles/image/2016Christmas/SMAX FORCE Transmission Cover 傳動蓋組 透明傳動濾心總成.jpg">
        </a>
    </div>

    <!--
    <div class="col-md-1 col-xs-3">
        <a class="btn btn-danger" target="_blank" href="http://class.ruten.com.tw/user/index00.php?s=oddoby2009&_plid=584fb09d888f7" role="button"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>快去露天搶優惠&nbsp;&nbsp;&nbsp;&nbsp;</a><br/><br/>
        <a class="btn btn-danger" target="_blank" href="https://shopee.tw/uopmotors?tab=product" role="button"><span class="glyphicon glyphicon-hand-right" aria-hidden="true">蝦皮也有優惠喔！</a>
    </div> 
    -->

    <!--
    mark at 2016 christmas promotion
    <div class="col-md-4" >
        <img class="img-responsive img-rounded" src="./styles/image/uop-motors.jpg">
        <p > <b>是一家從商品開發設計-模具製造-CNC加工-到塑膠射出成型， 等步驟垂直整合一貫化的公司</b>
        <div class="row">             
            <div class="col-md-12">
                <img src="./styles/image/1.jpg" class="img-responsive img-rounded"  width="80%">   
                <p> <b>我們擁有專業豐富的模具開發及射出成型技術與經驗，運用高科技精密機器設備為客戶提供最優質的服務及最高品質的產品</b></p>
                <img src="./styles/image/4.jpg" class="img-responsive img-rounded"  width="80%">
            </div>
        </div>
    </div>
    -->
    <!-- /.col-md-4 -->
</div>
<!--
<br/>
        <div class="row">
            <div class="col-md-3 col-xs-3">
                <img class="img-responsive img-rounded center-block" src="./styles/image/2016Christmas/BWS125 bwsx Headlight Cover With LED Pilot Light 美規小盾牌LED燈.jpg">
            </div>
            <div class="col-md-3 col-xs-3">
                <img class="img-responsive img-rounded" src="./styles/image/2016Christmas/JET POWER (EVO) GR Z1 Fan Cover COB Halo Light  風扇蓋光圈 .jpg">
            </div>
            <div class="col-md-3  col-xs-3">
                <img class="img-responsive img-rounded" src="./styles/image/2016Christmas/VJR MANY Fan Cover COB Halo Light 透明風扇蓋+COB光圈.jpg">
            </div>
            <div class="col-md-3  col-xs-3">
                <img class="img-responsive img-rounded" src="./styles/image/2016Christmas/SMAX FORCE Transmission Cover 傳動蓋組 透明傳動濾心總成.jpg">
            </div>
        </div>
-->

<Br/>
<!--
mark at 2016 christmas promotion
<div class="row">
    <div class="col-md-4">
        <img class="img-responsive img-rounded" src="./styles/image/uop-we-orig.jpg" alt="">
    </div>
    <div class="col-md-8">
        <br/>
        <h2>不只是賣家</h2>
        <h2>是真正的設計者與製造商</h2>
    </div>
</div>
-->

