<div class="row box" ng-init="initialize()">
	<div class="col-md-3">
		<div class="box-left">
			<div class="box-left-header" style="text-align:center">
				<span>									
					<div class="dropdown">
						{{catalogName}}<img ng-src="styles/image/best-sellers.jpg" style="height:30px" ng-show="catalogName == 'Best-Seller'">
					  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					  	目錄
					    <span class="caret"></span>					    
					  </button>					  	
					  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					  	<li><a ng-click="doChangeCatalog('Best-Seller','暢銷品')">暢銷品<img ng-src="styles/image/best-sellers.jpg" style="height:40px"></a></li>
					  	<li><a ng-click="doChangeCatalog('Covers','車殼類')">車殼類</a></li>
					    <li><a ng-click="doChangeCatalog('Plastic-Cover','塑膠部品')">　　塑膠部品</a></li>
					    <li><a ng-click="doChangeCatalog('Carbon/Chameleon','碳纖維/變色龍烤漆')">　　碳纖維/變色龍烤漆</a></li>
					    <!-- <li><a ng-click="doChangeCatalog('CNC-Parts')">　　CNC Parts</a></li> -->
					    <li><a ng-click="doChangeCatalog('Engine-Parts','引擎部品')">引擎部品</a></li>
					    <li><a ng-click="doChangeCatalog('Transmission-Parts','傳動部品')">傳動部品</a></li>
					    <li><a ng-click="doChangeCatalog('Suspension-Parts','懸吊部品')">懸吊部品</a></li>
					    <li><a ng-click="doChangeCatalog('Light','燈具類')">燈具類</a></li>
					    <li><a ng-click="doChangeCatalog('Head-Lamp','大燈')">　　大燈</a></li>
					    <li><a ng-click="doChangeCatalog('Taillight','尾燈')">　　尾燈</a></li>
					    <li><a ng-click="doChangeCatalog('Signal-Light','信號燈')">　　信號燈</a></li>
					    <li><a ng-click="doChangeCatalog('Others','其他')">　　其他</a></li>
					    <li><a ng-click="doChangeCatalog('Electronics','電裝類')">電裝類</a></li>
					    <li><a ng-click="doChangeCatalog('Special-Customized-CNC-Parts','特殊CNC定製品')">特殊CNC定製品</a></li>
					  </ul>
					</div>		
				</span>
			</div>
			<div class="box-left-content">			
				<table class="table table-striped">
					<tr ng-repeat="product in products | orderBy: ['orderSeq','id']:false" ng-class="{'selected':$index == selectedRow}" ng-click="selectProduct($index,product.id)">
						<td>
							<img ng-src={{product.nameImageUrl}} >
						</td>
						<td>
							{{product.name_ch}}<img ng-src="styles/image/best-sellers.jpg" style="height:30px" ng-show="product.bestSellerUS == 'Y' && catalogName_en != 'Best-Seller'">
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-9">		
		<div class="row box-inner">
			<div class="box-inner-header">
				<span><h2>{{productName}}</h2></span>
			</div>
			<div class="box-inner-content">
				<div class="col-md-12" ng-show="imageDirectory == null" >
				<img ng-src="styles/image/sellout.jpg" style="width:60%; display: block; margin-left: auto;
    margin-right: auto;">
				</div>
				<div class="col-md-6" ng-hide="imageDirectory == null">
					<img ng-src={{imageDirectory}}{{productImageUrl}} style="width:99%;border:1px;border-color:black;border-style:solid;">				
					<br/>
					<br/>
					<table width="100%">
						<tr>
							<td>
								<span ng-repeat="prImageUrl in productRelativeImageUrl">	
								<img ng-src="{{imageDirectory}}{{prImageUrl.imageUrl}}" style="width:123px;border:1px;border-style: solid;
    border-color: black;margin-top:5px;margin-bottom:5px; cursor: pointer; " ng-click="doChangeImage(prImageUrl.imageUrl)"> 
								</span>
							</td>
						</tr>
					</table>			
				</div>
				<div class="col-md-6" style="margin-top:10px;" ng-hide="imageDirectory == null">
					<table class="table table-bordered table-striped" ng-repeat="item in items">
							<tr>
								<th style="width:30%;padding: 6px;">貨號</th>
								<td style="width:70%;padding: 6px;">{{item.itemNo}}</td>
							</tr>
							<tr>
								<th style="padding: 6px;">適用廠牌</th>
								<td style="padding: 6px;">{{item.manufactory}}</td>
							</tr>	
							<tr>
								<th style="padding: 6px;">適用型號</th>
								<td style="padding: 6px;">
									<table class="table table-bordered table-striped">
										<tr ng-repeat="m in item.model" ng-hide="m.m_ch == null">
											<td style="padding: 6px;" ng-hide="m.manufactory == null">{{m.manufactory}}</td>
											<td style="padding: 6px;">{{m.m_ch}}</td>
										</tr>
									</table></td>
							</tr>	
							<tr ng-hide="item.FrontRear == null">
								<th style="padding: 6px;">前/後齒輪</th>
								<td style="padding: 6px;">{{item.FrontRear}}</td>
							</tr>
							<tr>
								<th style="padding: 6px;" ng-hide="item.color == null">顏色</th>
								<td style="padding: 6px;">
									<table class="table table-bordered table-striped" ng-repeat="c in item.color">
										<tr ng-hide="c.color == null">
											<td style="padding: 6px;" colspan="2">{{c.color_ch}}</td>
										</tr>									
										<tr ng-hide="c.FanCover == null">
											<th style="padding: 6px;">風扇蓋</th>
											<td style="padding: 6px;">{{c.FanCover_ch}}</td>
										</tr>
										<tr ng-hide="c.Decoration == null">
											<th style="padding: 6px;">飾蓋</th>
											<td style="padding: 6px;">{{c.Decoration_ch}}</td>
										</tr>
										<tr ng-hide="c.Cover == null">
											<th style="padding: 6px;">小盾牌</th>
											<td style="padding: 6px;">{{c.Cover_ch}}</td>
										</tr>	
										<tr ng-hide="c.PilotReflectiveSurface == null">
											<th style="padding: 6px;">小燈反射</th>
											<td style="padding: 6px;">{{c.PilotReflectiveSurface_ch}}</td>
										</tr>										
										<tr ng-hide="c.PilotLightCover == null">
											<th style="padding: 6px;">小燈殼</th>
											<td style="padding: 6px;">{{c.PilotLightCover_ch}}</td>
										</tr>																				
									</table>
								</td>
							</tr>
							<tr ng-hide="item.accessories == null">
								<th style="padding: 6px;">配件</th>
								<td style="padding: 6px;">{{item.accessories_ch}}</td>
							</tr>
							<tr ng-hide="item.note == null">
								<th style="padding: 6px;">備註</th>
								<td style="padding: 6px;">{{item.note_ch}}</td>
							</tr>														
							<tr>
								<th style="padding: 6px;" colspan="2">哪裡可以買到？</th>
							</tr>
							<tr>
								<td style="padding: 6px;" colspan="2">
									<table class="table table-bordered table-striped"> 
										<tr>
											<th style="padding: 6px;width:10%">美國ebay</th>
											<td style="padding: 6px;"><a href="http://stores.ebay.com/uopmotors">http://stores.ebay.com/uopmotors</a></td>
										</tr>
										<tr>
											<th style="padding: 6px;">台灣露天</th>
											<td style="padding: 6px;"><a href="http://class.ruten.com.tw/user/index00.php?s=oddoby2009">http://class.ruten.com.tw/user/index00.php?s=oddoby2009</a></td>
										</tr>										
									</table>									
								</td>
							</tr>
					</table>
				</div>
			</div>				
		</div>
	</div>
</div>